# Recommendation System for appropirate teacher for appropirate course

In [23]:
import pandas as pd

data = pd.read_csv('assets/synthetic_teachers_dataset.csv')
data.head()

,Teacher_ID,Full_Name,Gender,Country,Primary_Subject,Secondary_Subject,Education_Level,Years_of_Experience,Teaching_Style,Certifications,Availability,Language,Student_Rating,Courses_Taught,Is_Research_Active,Email
0,T00001,Brittany Rivera,Male,Germany,Economics,Biology,PhD,4,Project-based,PGCE,Part-time,Mandarin,4.94,82,True,brittany.rivera@example.edu
1,T00002,Ryan Smith,Non-Binary,India,Computer Science,History,Masters,9,Flipped Classroom,Online Certifications,Part-time,Spanish,4.53,5,False,ryan.smith@example.edu
2,T00003,Nicole Miranda,Male,France,Economics,English,Bachelors,23,Flipped Classroom,M.Ed,Part-time,French,3.22,38,False,nicole.miranda@example.edu
3,T00004,Eric Hayes,Non-Binary,USA,History,Chemistry,Bachelors,24,Lecture-based,NaN,Full-time,German,3.42,70,True,eric.hayes@example.edu
4,T00005,Sarah Hernandez,Female,Canada,Computer Science,Physics,PhD,40,Interactive,TESOL,Part-time,French,2.84,75,False,sarah.hernandez@example.edu

In [24]:
data.shape

(10000, 16)

In [25]:
data.value_counts('Country')

Country
Canada       1492
Australia    1470
Germany      1461
UK           1427
India        1402
USA          1394
France       1354
Name: count, dtype: int64

In [26]:
data.describe()

       Years_of_Experience  Student_Rating  Courses_Taught
count         10000.000000    10000.000000    10000.000000
mean             20.282000        3.746494       52.128800
std              11.630967        0.720949       27.347742
min               1.000000        2.500000        5.000000
25%              10.000000        3.130000       29.000000
50%              20.000000        3.740000       52.000000
75%              30.000000        4.370000       76.000000
max              40.000000        5.000000       99.000000

In [27]:
data.isnull().sum()

Teacher_ID                0
Full_Name                 0
Gender                    0
Country                   0
Primary_Subject           0
Secondary_Subject         0
Education_Level           0
Years_of_Experience       0
Teaching_Style            0
Certifications         1718
Availability              0
Language                  0
Student_Rating            0
Courses_Taught            0
Is_Research_Active        0
Email                     0
dtype: int64

In [28]:
data.fillna('Unknown', inplace=True)

In [30]:
import pandas as pd
import numpy as np
import joblib
from sklearn.preprocessing import StandardScaler

# Load your raw DataFrame
# data = pd.read_csv("your_raw_file.csv") — already loaded

# Save a copy BEFORE scaling
original_data = data.copy()

# Handle missing values (optional)
data.fillna(0, inplace=True)

# Binary column
data["Is_Research_Active"] = data["Is_Research_Active"].astype(int)

# Numeric columns
numerical_cols = ["Years_of_Experience", "Student_Rating", "Courses_Taught"]
scaler = StandardScaler()
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

# One-hot encode categorical features
categorical_cols = [
    "Primary_Subject", "Secondary_Subject", "Education_Level",
    "Teaching_Style", "Certifications", "Availability",
    "Language", "Gender", "Country"
]
encoded_data = pd.get_dummies(data[categorical_cols], prefix=categorical_cols)

# Final numeric feature matrix
teacher_vectors = pd.concat([encoded_data, data[numerical_cols], data[["Is_Research_Active"]]], axis=1)

# Save the required files
features = list(teacher_vectors.columns)
np.save("teacher_vectors.npy", teacher_vectors.to_numpy())
joblib.dump(scaler, "scaler.pkl")
joblib.dump(features, "features.pkl")

# Save original (unscaled) data for Streamlit UI
original_data.to_csv("original_teachers_df.csv", index=False)

['scaler.pkl']

['features.pkl']